<div class="container">
  <h2>Patient's Medical Records</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Phone Number </th>
        <th>ID Number </th>
        <th>Email</th>
        <th>Address  </th>
        <th>Doctor's ID</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#patients}}
      <tr>
        <td>{{first_name}}</td>
        <td>{{surname}}</td>
        <td>{{mobile_no}}</td>
        <td>{{id_no}}</td>
        <td>{{email}}</td>
        <td>{{physical_address}}</td>
        <td>{{doc_id}}</td>
        <td><a href="/script_items" type="button" class="btn btn-primary btn-block">Create Script</a></td>
      </tr>
      {{/patients}}
    </tbody>
  </table>
  
  {{#no_patients}}
  <p>No patients available yet. Add some above.</p>
<<<<<<< HEAD
{{/no_patients}}
 -->

 <div class="container">
   <h2>Patient's Medical Records</h2>
   <!-- <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p> -->
   <table class="table">
     <thead>
       <tr>
         <th></th>
       </tr>
     </thead>
     <tbody>
       {{#patients}}
       <tr>
         <th>Firstname</th>
         <td>{{first_name}}</td>
      </tr>
      <tr>
         <th>Lastname</th>
         <td>{{surname}}</td>
      </tr>
      <tr>
         <th>Phone Number </th>
         <td>{{mobile_no}}</td>
      </tr>
      <tr>
         <th>ID Number </th>
         <td>{{id_no}}</td>
      </tr>
      <tr>
         <th>Email</th>
         <td>{{email}}</td>
      </tr>
      <tr>
         <th>Address  </th>
         <td>{{physical_address}}</td>
      </tr>
      <tr>
         <th>Doctor's ID</th>
         <td>{{doc_id}}</td>
      </tr>
         <td><a href="/script_items" type="button" class="btn btn-primary btn-block">Create Script</a></td>
       </tr>
       {{/patients}}
     </tbody>
   </table>

   {{#no_patients}}
     <p>No patients available yet. Add some above.</p>
   {{/no_patients}}

 </div>
=======
  {{/no_patients}}
</div>
>>>>>>> f05fdf7a82c58d5d6ea11f794d35877486f28fbb
