<div class="container">
  <h2>Patient's Medical Records</h2>
  <!-- <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p> -->
  <table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>ID Number </th>
        <th>Address  </th>
        <th>Phone Number </th>
        <th>Admin Rights</th>
        <th>Doctor's ID</th>
      </tr>
    </thead>
    <tbody>
      {{#patients}}
      <tr>
        <td>{{first_name}}</td>
        <td>{{surname}}</td>
        <td>{{email}}</td>
        <td>{{id_no}}</td>
        <td>{{physical_address}}</td>
        <td>{{mobile_no}}</td>
        <td><span style="color: red">Patient</span></td>
        <td>{{doc_id}}</td>
      </tr>
      {{/patients}}
    </tbody>
  </table>

  {{#no_patients}}
    <p>No patients available yet. Add some above.</p>
  {{/no_patients}}

</div>

<button type="button" class="btn btn-primary btn-block">Create Script</button>
